In [1]:
import pandas as pd
import shutil

Metadata file has multiple columns. The data comes from CMV status analysis (though we don't need it here).

In [2]:
desc_hip = pd.read_csv('/projects/fmba_covid/1_data_links/hip_full_prep.txt', sep='\t')

In [3]:
desc_hip

,file_name,sample_id,age,race,sex,cmv,hla,..filter..,dataset,covid
0,HIP00110.txt,HIP00110,55.0,NaN,male,-,"HLA-A*03,HLA-A*24,HLA-B*07",corr:2:0.05:all,HIP,healthy
1,HIP00169.txt,HIP00169,41.0,NaN,male,-,"HLA-A*01,HLA-A*02,HLA-B*27,HLA-B*37",corr:2:0.05:all,HIP,healthy
2,HIP00594.txt,HIP00594,21.0,"caucasian,non-hispanic or latino",male,+,"HLA-A*02,HLA-A*32,HLA-B*07,HLA-B*61",corr:2:0.05:all,HIP,healthy
3,HIP00602.txt,HIP00602,45.0,NaN,female,-,"HLA-A*02,HLA-A*11,HLA-B*35,HLA-B*51",corr:2:0.05:all,HIP,healthy
4,HIP00614.txt,HIP00614,27.0,"caucasian,non-hispanic or latino",male,-,"HLA-A*03,HLA-A*29,HLA-B*07",corr:2:0.05:all,HIP,healthy
...,...,...,...,...,...,...,...,...,...,...
781,Keck0116_MC1.txt,Keck0116_MC1,19.0,"asian or pacific islander,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
782,Keck0117_MC1.txt,Keck0117_MC1,34.0,"caucasian,non-hispanic or latino",male,+,NaN,corr:2:0.05:all,KECK,healthy
783,Keck0118_MC1.txt,Keck0118_MC1,28.0,"caucasian,non-hispanic or latino",male,+,NaN,corr:2:0.05:all,KECK,healthy
784,Keck0119_MC1.txt,Keck0119_MC1,24.0,"asian or pacific islander,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
785,Keck0120_MC1.txt,Keck0120_MC1,26.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy

In [4]:
selected_data = desc_hip[desc_hip.dataset == 'KECK'].head(10)

In [5]:
selected_data

,file_name,sample_id,age,race,sex,cmv,hla,..filter..,dataset,covid
666,Keck0001_MC1.txt,Keck0001_MC1,22.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
667,Keck0002_MC1.txt,Keck0002_MC1,21.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
668,Keck0003_MC1.txt,Keck0003_MC1,25.0,non-hispanic or latino,female,-,NaN,corr:2:0.05:all,KECK,healthy
669,Keck0004_MC1.txt,Keck0004_MC1,24.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
670,Keck0005_MC1.txt,Keck0005_MC1,24.0,"caucasian,non-hispanic or latino",male,-,NaN,corr:2:0.05:all,KECK,healthy
671,Keck0006_MC1.txt,Keck0006_MC1,23.0,"caucasian,non-hispanic or latino",male,-,NaN,corr:2:0.05:all,KECK,healthy
672,Keck0007_MC1.txt,Keck0007_MC1,22.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
673,Keck0008_MC1.txt,Keck0008_MC1,24.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
674,Keck0009_MC1.txt,Keck0009_MC1,23.0,"caucasian,hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
675,Keck0010_MC1.txt,Keck0010_MC1,24.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy

In [6]:
for run in selected_data.file_name:
    shutil.copyfile('/projects/fmba_covid/1_data_links/hip_full/' + run, '../hip_full/' + run)

Reading the raw rep-seq data. We can find the info on V/D/J segments which were used to form this clonotype, its frequency in sample, count of times it was assembled using spesific nucleotide sequence.

In [7]:
pd.read_csv('/projects/fmba_covid/1_data_links/hip_full/Keck0002_MC1.txt', sep='\t')

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,JStart
0,18719,0.104848,TGTGCCAGCAGTGCTAGCAACACCGGGGAGCTGTTTTTT,CASSASNTGELFF,TRBV6-4,TRBD2,TRBJ2-2,13,13,18,18
1,3162,0.017711,TGTGCCAGCAGCAAAGCGCTGGCAGGGGGGGCATTTT,CASSKA_WQGGHF,TRBV21-1,TRBD1,TRBJ1-5,20,22,29,30
2,2198,0.012311,TGTGCCAGTAGTATAGTCTCCGACAGCCATGAGCAGTTCTTC,CASSIVSDSHEQFF,TRBV19,TRBD1,TRBJ2-1,19,21,26,28
3,1473,0.008251,TGCGCCAGCAGCCTCCATAATCACCCAAACCTACGAGCAGTACTTC,CASSLHNH_QTYEQYF,TRBV4-1,NaN,TRBJ2-7,13,-36,-36,29
4,1075,0.006021,TGTGCCAGCAGCCAATTTCTGAGAAACACCATATATTTT,CASSQFLRNTIYF,TRBV16,NaN,TRBJ1-3,16,-43,-43,17
...,...,...,...,...,...,...,...,...,...,...,...
111405,1,0.000006,TGTGCCAGCAGTTCCAGGGGTAGAACTGAAGCTTTCTTT,CASSSRGRTEAFF,"TRBV6-9,TRBV6-1,TRBV6-6,TRBV6-8,TRBV6-5",TRBD1,TRBJ1-1,13,14,20,24
111406,1,0.000006,TGCGCCAGCAGCCAGGGGACAGGGGGCGATGAAGCTTTCTTT,CASSQGTGGDEAFF,"TRBV4-1,TRBV4-3",TRBD1,TRBJ1-1,14,15,28,29
111407,1,0.000006,TGTGCCAGCAGCCACCCCGGCGGGGGGGGGCGGTAGGGAAGCTTTCTTT,CASSHPGG_GGGREAFF,"TRBV4-2,TRBV4-3,TRBV4-1","TRBD1,TRBD2",TRBJ1-1,14,25,32,37
111408,1,0.000006,TGTGCCAGCAGCACACCGCGGGGGCGGACCTCTAAAGCTTTCTTT,CASSTPRGRTSKAFF,"TRBV6-5,TRBV6-1,TRBV6-6",TRBD1,TRBJ1-1,11,19,26,31
111409,1,0.000006,TGTGCCAGTAGGGACAGGGGGCGAACTACTTTCTTT,CASRDRGRTTFF,TRBV19,TRBD1,TRBJ1-1,11,11,23,28

Reading theough all the five raw files and concatenating them.

In [8]:
datasets_to_concat = []
for run in selected_data.file_name:
    df = pd.read_csv('/projects/fmba_covid/1_data_links/hip_full/' + run, sep='\t')
    df = df[(df.cdr3aa.str.isalpha()) & (df['count'] == 1)]
    df['run'] = run
    datasets_to_concat.append(df)

In [29]:
raw_data_concat = pd.concat(datasets_to_concat).drop(columns=['run'])

In [30]:
raw_data_concat

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,JStart
6759,1,0.000006,TGTGCCAGCAGCTTAGCTCTTGGCAATGAGCAGTTCTTC,CASSLALGNEQFF,"TRBV7-6,TRBV7-7,TRBV7-9",NaN,TRBJ2-1,20,-43,-43,23
6760,1,0.000006,TGTGCCAGCAGTTCGGGACTAGTCCTGGGCAATGAGCAGTTCTTC,CASSSGLVLGNEQFF,TRBV28,TRBD2,TRBJ2-1,13,13,22,29
6761,1,0.000006,TGTGCCAGCAGTTACACGACTAGCGGGGGCAATGAGCAGTTCTTC,CASSYTTSGGNEQFF,"TRBV6-6,TRBV6-5","TRBD2,TRBD1",TRBJ2-1,22,24,29,29
6762,1,0.000006,TGTGCCAGCAGTAAATTCCCGACGAGGGACGGCAATGAGCAGTTCTTC,CASSKFPTRDGNEQFF,TRBV25-1,"TRBD2,TRBD1",TRBJ2-1,16,16,21,32
6763,1,0.000006,TGTGCCAGCAGCTTAGTAGGAGGGCGTCGCAATGAGCAGTTCTTC,CASSLVGGRRNEQFF,"TRBV7-3,TRBV7-4",TRBD2,TRBJ2-1,15,18,25,29
...,...,...,...,...,...,...,...,...,...,...,...
145253,1,0.000006,TGTGCCGTCCACACCCAGGGTCGAACTGAAGCTTTCTTT,CAVHTQGRTEAFF,TRBV28,TRBD1,TRBJ1-1,6,15,20,24
145254,1,0.000006,TGTGCCAGTAGTATTGGGGCAGGGAGAACTGAAGCTTTCTTT,CASSIGAGRTEAFF,TRBV19,TRBD1,TRBJ1-1,14,15,24,27
145256,1,0.000006,TGTGCCAGCAGTGCTCGTTATGAAGCTTTCTTT,CASSARYEAFF,TRBV28,NaN,TRBJ1-1,12,-49,-49,20
145257,1,0.000006,TGTGCCAGCAGACCACTAGGTCGGCAGACTAATGAAGCTTTCTTT,CASRPLGRQTNEAFF,"TRBV6-5,TRBV6-1,TRBV6-6",TRBD2,TRBJ1-1,11,26,31,32
145258,1,0.000006,TGTGCCAGCAGCTCCAGGATACTGTCAGCTACGACTTTCTTT,CASSSRILSATTFF,"TRBV5-4,TRBV5-8",TRBD1,TRBJ1-1,13,21,26,34

In [31]:
raw_data_concat[raw_data_concat.cdr3aa == 'CASRATVYQETQYF']

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,JStart
30318,1,0.000006,TGTGCCAGCAGGGCGACAGTGTACCAAGAGACCCAGTACTTC,CASRATVYQETQYF,"TRBV6-5,TRBV6-1",TRBD1,TRBJ2-5,11,14,19,20

In [32]:
raw_data_concat = raw_data_concat[raw_data_concat.cdr3aa.str.isalpha()]#[['cdr3aa', 'count', 'v', 'j']]

We want to have a look at the naive clonotypes. It means that they would be very rare (assembpled only in one sample, only once). To choose such clonotypes let's group them:
* by how many samples have this clonotype
* by how many cells we sequenced which correspond to this cdr3aa (amino acid sequence of CDR3)

As the result we would take the intersection of these two sets of clonotypes

In [33]:
grouped_data_per_file = raw_data_concat.groupby(by=['cdr3aa'], as_index=False).count()
grouped_data_per_file = grouped_data_per_file[['cdr3aa', 'count']].merge(raw_data_concat)
grouped_data_per_file.sort_values(by='count')

,cdr3aa,count,freq,cdr3nt,v,d,j,VEnd,DStart,DEnd,JStart
0,ARENTGELFF,1,0.000005,GCGCGGGAGAACACCGGGGAGCTGTTTTTT,TRBV4-1,NaN,TRBJ2-2,4,-52,-52,8
646414,CASSSSSGTPYEQYF,1,0.000005,TGTGCCAGCAGCTCCTCCTCCGGGACACCTTACGAGCAGTACTTC,"TRBV5-4,TRBV5-8","TRBD1,TRBD2",TRBJ2-7,13,19,27,30
646415,CASSSSSGTRRNEQFF,1,0.000005,TGTGCCAGCAGCTCATCTAGCGGAACTAGGAGGAATGAGCAGTTCTTC,TRBV9,TRBD2,TRBJ2-1,12,16,23,33
646416,CASSSSSGTSGGDTQYF,1,0.000005,TGTGCCAGCAGCTCTTCTTCCGGGACTAGCGGGGGAGATACGCAGT...,"TRBV5-4,TRBV5-8",TRBD2,TRBJ2-3,13,19,33,35
646417,CASSSSSGTSVCEQYF,1,0.000005,TGTGCCAGCAGCTCGTCCTCCGGGACTAGCGTATGCGAGCAGTACTTC,TRBV27,TRBD2,TRBJ2-7,11,19,31,35
...,...,...,...,...,...,...,...,...,...,...,...
323217,CASSLFGDRATEAFF,1,0.000006,TGTGCCAGCAGTTTATTTGGGGACAGGGCCACTGAAGCTTTCTTT,"TRBV12-4,TRBV12-3",TRBD1,TRBJ1-1,15,19,28,29
323218,CASSLFGDRGIIGELFF,1,0.000006,TGTGCCAGCAGCTTATTTGGGGACAGGGGCATTATCGGGGAGCTGT...,"TRBV7-9,TRBV7-6",TRBD1,TRBJ2-2,15,19,29,35
323219,CASSLFGDRGLYEQYF,1,0.000005,TGTGCCAGCAGTTTATTCGGGGACAGGGGCCTCTACGAGCAGTACTTC,TRBV28,TRBD1,TRBJ2-7,16,19,29,32
323207,CASSLFGDLPYEQYF,1,0.000005,TGTGCCAGCAGTTTATTTGGGGATTTACCCTACGAGCAGTACTTC,TRBV27,NaN,TRBJ2-7,16,-37,-37,28
969633,YTLVCGYTF,1,0.000005,TATACGCTTGTATGCGGCTACACCTTC,TRBV6-1,NaN,TRBJ1-2,1,-55,-55,15

In [34]:
unique_clones_per_file = grouped_data_per_file[grouped_data_per_file['count'] == 1]
unique_clones_per_file

,cdr3aa,count,freq,cdr3nt,v,d,j,VEnd,DStart,DEnd,JStart
0,ARENTGELFF,1,0.000005,GCGCGGGAGAACACCGGGGAGCTGTTTTTT,TRBV4-1,NaN,TRBJ2-2,4,-52,-52,8
1,ARQSQETQYF,1,0.000006,GCTCGCCAGAGCCAAGAGACCCAGTACTTC,TRBV7-5,NaN,TRBJ2-5,0,-52,-52,11
2,ATGGGNTIYF,1,0.000006,GCGACAGGGGGTGGAAACACCATATATTTT,TRBV18,TRBD1,TRBJ1-3,0,2,11,11
3,CAAAAAGANNEQFF,1,0.000005,TGTGCCGCGGCGGCCGCGGGGGCCAACAATGAGCAGTTCTTC,TRBV2,"TRBD2,TRBD1",TRBJ2-1,6,17,22,22
4,CAAAAKRTDTQYF,1,0.000005,TGTGCCGCGGCGGCTAAACGCACAGATACGCAGTATTTT,TRBV7-9,NaN,TRBJ2-3,6,-43,-43,19
...,...,...,...,...,...,...,...,...,...,...,...
969629,YSVHGGRALNTEAFF,1,0.000006,TACAGCGTTCATGGCGGCAGGGCCCTGAACACTGAAGCTTTCTTT,TRBV29-1,TRBD2,TRBJ1-1,9,13,25,25
969630,YSVVIGLAADPLGPDTQYF,1,0.000004,TACAGCGTTGTAATAGGCCTAGCGGCCGACCCACTGGGGCCAGATA...,TRBV29-1,TRBD2,TRBJ2-3,10,15,25,40
969631,YSYQSRENSPLHF,1,0.000006,TACAGTTACCAGAGCAGGGAGAATTCACCCCTCCACTTT,TRBV20-1,"TRBD2,TRBD1",TRBJ1-6,6,12,21,21
969632,YTGRAERPQHF,1,0.000005,TATACTGGGCGGGCGGAGAGGCCCCAGCATTTT,TRBV27,"TRBD2,TRBD1",TRBJ1-5,1,8,16,20
969633,YTLVCGYTF,1,0.000005,TATACGCTTGTATGCGGCTACACCTTC,TRBV6-1,NaN,TRBJ1-2,1,-55,-55,15

In [35]:
unique_clones_per_file.v = unique_clones_per_file.v.apply(lambda x: x.split(',')[0])

In [36]:
unique_clones_per_file.v.value_counts()

TRBV20-1    94172
TRBV5-1     51547
TRBV19      49032
TRBV28      48241
TRBV12-4    40100
            ...
TRBV3-1         9
TRBV22-1        9
TRBV7-1         7
TRBV17          6
TRBV5-2         2
Name: v, Length: 62, dtype: int64

In [39]:
unique_clones_per_file.j = unique_clones_per_file.j.apply(lambda x: x.split(',')[0])

In [40]:
unique_clones_per_file

,cdr3aa,count,freq,cdr3nt,v,d,j,VEnd,DStart,DEnd,JStart
0,ARENTGELFF,1,0.000005,GCGCGGGAGAACACCGGGGAGCTGTTTTTT,TRBV4-1,NaN,TRBJ2-2,4,-52,-52,8
1,ARQSQETQYF,1,0.000006,GCTCGCCAGAGCCAAGAGACCCAGTACTTC,TRBV7-5,NaN,TRBJ2-5,0,-52,-52,11
2,ATGGGNTIYF,1,0.000006,GCGACAGGGGGTGGAAACACCATATATTTT,TRBV18,TRBD1,TRBJ1-3,0,2,11,11
3,CAAAAAGANNEQFF,1,0.000005,TGTGCCGCGGCGGCCGCGGGGGCCAACAATGAGCAGTTCTTC,TRBV2,"TRBD2,TRBD1",TRBJ2-1,6,17,22,22
4,CAAAAKRTDTQYF,1,0.000005,TGTGCCGCGGCGGCTAAACGCACAGATACGCAGTATTTT,TRBV7-9,NaN,TRBJ2-3,6,-43,-43,19
...,...,...,...,...,...,...,...,...,...,...,...
969629,YSVHGGRALNTEAFF,1,0.000006,TACAGCGTTCATGGCGGCAGGGCCCTGAACACTGAAGCTTTCTTT,TRBV29-1,TRBD2,TRBJ1-1,9,13,25,25
969630,YSVVIGLAADPLGPDTQYF,1,0.000004,TACAGCGTTGTAATAGGCCTAGCGGCCGACCCACTGGGGCCAGATA...,TRBV29-1,TRBD2,TRBJ2-3,10,15,25,40
969631,YSYQSRENSPLHF,1,0.000006,TACAGTTACCAGAGCAGGGAGAATTCACCCCTCCACTTT,TRBV20-1,"TRBD2,TRBD1",TRBJ1-6,6,12,21,21
969632,YTGRAERPQHF,1,0.000005,TATACTGGGCGGGCGGAGAGGCCCCAGCATTTT,TRBV27,"TRBD2,TRBD1",TRBJ1-5,1,8,16,20
969633,YTLVCGYTF,1,0.000005,TATACGCTTGTATGCGGCTACACCTTC,TRBV6-1,NaN,TRBJ1-2,1,-55,-55,15

In [42]:
unique_clones_per_file.to_csv('naive_clonotypes_keck_nt.csv', index=False)